﻿/*
 *  Obsidian Portal offline campaign style
 *  Copyright (c) 2010 Kyle Schouviller (with portions from obsidianportal.com)
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy
 *  of this software and associated documentation files (the "Software"), to deal
 *  in the Software without restriction, including without limitation the rights
 *  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *  copies of the Software, and to permit persons to whom the Software is
 *  furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 *  THE SOFTWARE.
 */
 
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline}
body {line-height: 1.5;}
 table {border-collapse: separate; border-spacing: 0}
caption, th, td {text-align: left; font-weight: normal}
table, td, th {vertical-align: middle}
 blockquote:before, blockquote:after, q:before, q:after {content: ""}
blockquote, q {quotes: "" ""}
 a img {border: none}
  body {font-size: 75%; color: #222; background: #202020; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
 h1,h2,h3,h4,h5,h6 {font-weight: normal; color: #111}
h1 {font-size: 3em; line-height: 1; margin-bottom: 0.5em}
h2 {font-size: 2em; margin-bottom: 0.75em}
h3 {font-size: 1.5em; line-height: 1; margin-bottom: 1em}
h4 {font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em}
h5 {font-size: 1em; font-weight: bold; margin-bottom: 1.5em}
h6 {font-size: 1em; font-weight: bold}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0}
 p {margin: 0 0 1em}
p img.left {float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0}
p img.right {float: right; margin: 1.5em 0 1.5em 1.5em}
a:focus, a:hover {color: #000}
a {color: #009; text-decoration: underline}
blockquote {margin: 1.5em; color: #666; font-style: italic}
strong {font-weight: bold}
em,dfn {font-style: italic}
dfn {font-weight: bold}
sup, sub {line-height: 0}
abbr, acronym {border-bottom: 1px dotted #666}
address {margin: 0 0 1.5em; font-style: italic}
del {color:#666}
pre {margin: 1.5em 0; white-space: pre}
pre,code,tt {font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5}
 li ul, li ol {margin:0 1.5e}m
ul, ol {margin: 0 1.5em 1.5em 1.5em}
ul {list-style-type: disc}
ol {list-style-type: decimal}
dl {margin: 0 0 1.5em 0}
dl dt {font-weight: bold}
dd {margin-left: 1.5em;}
 table {margin-bottom: 1.4em; width:100%}
th {font-weight: bold; background: #C3D9FF}
th,td {padding: 4px 10px 4px 5px}
tr.even td {background: #E5ECF9}
tfoot {font-style: italic}
caption {background: #eee}
 .small {font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em}
.large {font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em}
.hide {display: none}
.quiet {color: #666}
.loud {color: #000}
.highlight {background:#ff0}
.added {background:#060; color: #fff}
.removed {background:#900; color: #fff}
.first {margin-left:0; padding-left:0}
.last {margin-right:0; padding-right:0}
.top {margin-top:0; padding-top:0}
.bottom {margin-bottom:0; padding-bottom:0}
 label {font-weight: bold}
fieldset {padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc}
legend {font-weight: bold; font-size:1.2em}
 input.text, input.title, textarea, select {margin:0.5em 0; border:1px solid #bbb}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666}
input.text, input.title {width: 300px; padding:5px}
input.title {font-size:1.5em}
textarea {width: 390px; height: 250px; padding:5px}
 .error, .notice, .success {padding: .8em; margin-bottom: 1em; border: 2px solid #ddd}
.error {background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4}
.notice {background: #FFF6BF; color: #514721; border-color: #FFD324}
.success {background: #E6EFC2; color: #264409; border-color: #C6D880}
.error a {color: #8a1f11}
.notice a {color: #514721}
.success a {color: #264409}
 body {background-color: #202020; font-family: georgia, times, "times new roman", serif; font-size: .9em}
a {color: #4FA6CE}
a:hover {color: #A2D0E5}
a:visited {color: #79BAD9}
img {border: none}
fieldset {border: 1px solid #EEE}
fieldset fieldset {border: none; padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #EEE}
fieldset legend {color: #80A71F; font-size: 1.5em; padding: 0 10px}
fieldset fieldset legend {color: #80A71F; font-size: 1.2em}
form em {font-size: 0.65em; font-style: italic; color: #FF6666; margin-left: 5px}
label { display: block; font-size: 1.15em; padding: 5px 0}
label span {color: #A00}
label.example {color: #888; display: block; font-size: 0.95em; font-weight: normal}
label.inline {display: inline}
label.overlay {color: #777; position: absolute; top: -3px; left: 8px; z-index: 1}
input[type=text], input[type=password], input[type=file], textarea, select {background: #F6F6F6; border: 1px solid #AAA; padding: 5px}
pre {background-color: #eee; padding: 10px; font-size: 11px}
  .alignLeft {text-align: left}
.alignRight {text-align: right}
.center, .alignCenter {text-align: center}
.alignTop {vertical-align: top}
.floatLeft, .left {float: left}
.floatRight, .right {float : right}
.noWrap {white-space: nowrap}
.clear {clear: both; height: 0}
.clear_left {clear: left}
.clear_right {clear: right}
.even {background: #F2F2F2}
.npc_link {font-size: 140%}
.edit_link {font-size: 80%}
.icon {vertical-align: text-bottom}
.disclaimer {clear: both; font-size: 85%; font-style: italic; text-align: center}
.create_new {float: right; margin-top: 5px; text-decoration: none; vertical-align: middle}
.create_new a {text-decoration: none}
.create_new img {vertical-align: middle}


body {text-align:center; margin:0 0 0 0; vertical-align:middle;}
  #content { width:990px; text-align:left; margin: 2em auto; padding:0;}
  #campaigntitle { font-size:3em; color:#fff; font-weight:bold; text-decoration:none; }
  #campaigntitle a { text-decoration:none; color:#fff; }
  #maincontent { background:#fff; }
  .blogentry, .wikipage, .character, .characterlisting, .item, .itemlisting, .forumtopic { margin:0 1em 1em 1em; padding:2em;}
  ul { margin-left:1.5em; }
  #headbar { margin:0; padding:0; height:2.8em; position:relative; }
  #headbar ul { margin:0; padding:0; float:left; position:absolute; bottom:0px; left:0px; }
  #headbar li { display:inline; color:#666681; margin:0; padding:0; list-style-type:none; }
  #headbar li a { color:#666; background:#f3f3f3; text-decoration:none; font-weight:bold; font-size: 10px; line-height: 14px; display:inline; padding:2px 10px 2px 10px; margin-right:4px; border:1px solid #ccc; font-family:"Arial"; }
  #headbar li.active a { color:#000; background:#fff; border-bottom:1px solid #fff; }
  #headbar span { display:inline; float:right; margin:0; padding:0; font-size:2em; font-weight:bold; }
  #headbar span a { color:#fff; text-decoration:none; }
  #headbar span a:hover { color:#66f; text-decoration:none; }
  #footer { margin:0 0 1em 0; padding:0em; text-align:center; background:#202020; z-index:500; }
  #footer span, #footer span a { color:#fff; }
  #footer span a:hover { color:#66f; }